* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: rgb(220, 220, 220);
}
body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(Assets/Images/bg3.jpg)
}
header {
    height: 70px;
    background-color: rgb(0,0,0, .9);
    padding: 10px 0 10px 0;
    border-bottom: solid 3px;
    border-color: rgb(220, 220, 220);
}
header h1 {
    display: inline-block;
    padding: 15px 24px;
    text-transform: uppercase;
}
header ul {
    float: right;
}
header ul li {
    padding: 24px;
    display: inline-block;
}
a {
    text-decoration: none;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.container::after {
    content: '';
    display: block;
    clear: both;
}
.mobilemenu {
    display: none;
}
.mobilemenu:hover {
    cursor: pointer;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -500px;
    width: 200px;
    background-color: rgb(0,0,0, .9);
    transition: 0.3s;
    font-weight: bold;
    z-index: 9999;
}
#check:checked ~ .sidebar {
    left: 0;
}
.sidebar ul li a {
    color: rgb(220, 220, 220);
}
.sidebar ul li {
    padding: 20px;
}
.sidebar ul li:hover {
    background-color: rgb(20, 20, 20);
    border: solid 1px rgb(220, 220, 220);
}
#check {
    display: none;
}
.logo {
    display: block;
    width: 250px;
    margin: 65px auto;
    border: none;
}
.greeting {
    text-align: center;
    padding: 2% 3%;
    margin: 0 5%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(0,0,0, .9);
}
section h3 {
    margin-top: 80px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    color: black;
    font-size: 25px;
}
section h3::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    padding: 1px;
    border-radius: 10px;
    width: 200px;
    height: 2px;
    background-color: black;
    left: calc(50% - 100px);
}
#tentangkami {
    margin-top: 150px;
    padding-top: 10px;
}
.figure1 {
    float: left;
    width: 200px;
    text-align: center;
    font-weight: bold;
    margin: 0% 3%;
}
.figure2 {
    float: right;
    width: 200px;
    text-align: center;
    font-weight: bold;
    margin: 0% 3%;
}
.photoprofile {
    width: 200px;
    height: 200px;
}
img {
    border: solid black;
    border-radius: 10px;
}
.card {
    margin-top: 200px;
}
table {
    background-color: rgb(0,0,0, .9);
    border: 2px solid black;
    border-radius: 10px;
    margin: 50px
}
th, td {
    padding: 10px 5px;
}
#kontak {
    margin-top: 150px;
    padding-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(0,0,0, .9);
}
#kontak h3 {
    color: rgb(220, 220, 220);
}
#kontak h3::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    padding: 1px;
    border-radius: 10px;
    width: 200px;
    height: 2px;
    background-color: rgb(220, 220, 220);
    left: calc(50% - 100px);
}

.col-3 {
    width: 33.33%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 50px 10px;
}
.col-3 h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(220, 220, 220);
    margin-bottom: 15px;
}
html {
    scroll-behavior: smooth;
}
.icon {
    position: flex;
    width: 100%;
    text-align: center;
}
.tombol {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: rgb(0,0,0, .9);
    margin: 10px;
    border-radius: 10px;
    position: relative;
    color: rgb(220, 220, 220);
}
.tombol i {
    transition: 0.2s linear;
    font-size: 25px;
    line-height: 70px;
}
.tombol:hover {
    transform: scale(1.1);
    background: black;
}
#random {
    margin-top: 150px;
    padding-top: 10px;
}
.container2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}
.container2 .main-video {
    background: rgb(0,0,0, .9);
    border-radius: 5px;
    padding: 10px;
}
.container2 .main-video video {
    width: 100%;
    height: 500px;
    border-radius: 5px;
}
.container2 .main-video .video-title {
    padding-top: 15px;
    padding-bottom: 15px;
}
.container2 .video-list {
    background: rgb(0,0,0, .9);
    border-radius: 5px;
    height: 100%;
    overflow-y: scroll;
}
.container2 .video-list::-webkit-scrollbar {
    width: 10px;
}
.container2 .video-list::-webkit-scrollbar-track {
    background: rgb(220, 220, 220);
    border-radius: 50px;
}
.container2 .video-list::-webkit-scrollbar-thumb {
    background: rgb(20, 20, 20);
    border-radius: 20px;
}
.container2 .video-list .vid video {
    width: 50%;
    border-radius: 5px;
}
.container2 .video-list .vid {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background: rgb(0,0,0, .9);
    border: 1px solid black;
    cursor: pointer;
}
.container2 .video-list .vid.active {
    background: rgb(220, 220, 220);
}
.container2 .video-list .vid.active .video-title {
    color: black
}
@media (max-width: 768px){
    .mobilemenu {
        display: block;
        position: fixed;
        float: right;
        right: 0;
        top: 0;
        padding-top: 25px;
        padding-right: 25px;
    }
    header ul {
        display: none;
    }
    .figure1 {
        float: none;
        margin: auto;
        padding-top: 30px;
    }
    .figure2 {
        float: none;
        margin: auto;
        padding-top: 30px;
    }
    .col-3 {
        float: none;
        width: auto;
        padding: 20px;
    }
    #kontak {
        margin-right: 20px;
        margin-left: 20px;
    }
    .logo {
        margin: 25% auto;
    }
    .container2 {
        grid-template-columns: 1fr;
    }
    .container2 .main-video video {
        width: 100%;
    }
}